* {
	box-sizing: border-box;
  }

body {
	border: solid;
    font-family: sans-serif;
	border-color: goldenrod;
	padding:  0 15% 0 15%;;
	text-align: left;
	
}


p {
	font-weight: normal;
	font-style: normal;
    font-size:200%;
   
}


h1 {
	text-align:center;
	color:darkgreen;
	font-size:200%; 
	
}
.centerimg {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
<<<<<<< HEAD
.col-sm-1{
	width: 75%;
	float: right;
	padding: 15px;

}
.col-sm-2{
	width: 50%;
	float: left;
	padding: 15px;

}
.col-sm-3{
	width: 100%;
	float: left;
}
.col-sm-4{
	width: 100%;
	float: left;
	text-align: center;
}
.col-sm-5{
	width: 75%;
	float: right;
	padding: 15px;

}
.col-sm-6{
	width: 50%;
	float: left;
	padding: 15px;

}
.col-sm-7{
	width: 100%;
	float: left;
}
.col-sm-8{
	width: 200%;
	float: left;
	text-align: center;
}
=======
>>>>>>> 6b192855d9a2f3f67aad3f7887262d0ad15a0e84
