body {
	border: solid;
    font-family: sans-serif;
	border-color: goldenrod;
	padding:  0 15% 0 15%;;
	
}


p {
	font-weight: normal;
	font-style: normal;
    font-size:200%;
    text-align: center;
}


h1 {
	text-align:center;
	color:darkgreen;
	font-size:100%; 
	
}
.centerimg {
	display: block;
	margin-left: auto;
	margin-right: auto;
}